html {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 5px solid gray;
  border-collapse: collapse;
}

table tr td {
  width: 20px;
  height: 20px;
  background-color: lightblue;
}